# Extracting Data Section

This module was created to extract data from yahoo finance. It is possible to extract only 7 days of intraday data and cannot be older than 30 days.

The Timestamp will be modified to be the same used by BBG.

In [ ]:
#!pip install yfinance
#!pip install yahoo_fin
#pip install --upgrade pandas

In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
import datetime
from datetime import datetime

In [2]:
path = 'C:/Users/abrah/Desktop/DISSERTATION/Data/'

**The next two functions will be used for the model**

In [3]:
#This option is useful to get information of the last "x" days

def get_data(symbol):
    data = yf.download(tickers=symbol, period="7d", interval="1m")
    data.reset_index(inplace=True)
    data['Datetime'] = pd.to_datetime(data['Datetime']).dt.strftime('%d/%m/%Y %H:%M')
    data.rename(columns = {'Datetime':'Date'}, inplace = True)
    data.to_csv(path + symbol+'_7d.csv', index = False)
    return (data)

#A different option to get data in specific range
#Period can't be longer than 7 days and cannot be older than 30 days
#date must be formatted "2022-06-14"

def get_data_dates(symbol,start_date,end_date):
    data = yf.download(tickers=symbol, start=start_date, end=end_date, interval="1m")
    data.reset_index(inplace=True)
    data['Datetime'] = pd.to_datetime(data['Datetime']).dt.strftime('%d/%m/%Y %H:%M')
    data.rename(columns = {'Datetime':'Date'}, inplace = True)
    data.to_csv(path + symbol+'_'+str(start_date)+'_'+str(end_date)+'.csv')
    return (data) 

def get_data_per_day(symbol,start_date,end_date):
    data = yf.download(tickers=symbol, start=start_date, end=end_date, interval="1m")
    data.reset_index(inplace=True)
    data['Datetime'] = pd.to_datetime(data['Datetime']).dt.strftime('%d/%m/%Y %H:%M')
    data.rename(columns = {'Datetime':'Date'}, inplace = True)
    return (data)

**These are other options to get data**

In [4]:
def get_last_month_data(ticker):    
    dates = pd.date_range(end = datetime.today().strftime('%Y-%m-%d'), periods = 30).to_pydatetime().tolist()
    full_month = pd.DataFrame()
    for i in range(len(dates)-1):
        print(dates[i])
        try:
            new_day = get_data_per_day(ticker,dates[i],dates[i+1]).dropna()
            print(new_day)
            full_month = pd.concat([full_month, new_day])
        except:
            pass
    full_month.to_csv(path + symbol+'_last_month.csv')
    return(full_month)

In [20]:
#symbol = "EWW" #ETF replicating MEXICO IPC
#symbol = "AMXL.MX" #AMÉRICA MÓVIL MÉXICO
#symbol = "WALMEX.MX" #WALMART DE MEXICO
symbol = "GFNORTEO.MX" #GRUPO FINANCIERO BANORTE MÉXICO

In [21]:
#data_for_model = get_data(symbol)
#data_for_model = get_data_dates(symbol,"2022-08-08","2022-08-15")
data_for_model = get_last_month_data(symbol)

2022-08-04 00:00:00
[*********************100%***********************]  1 of 1 completed
                 Date        Open        High         Low       Close  \
0    04/08/2022 08:30  112.690002  114.339996  112.419998  114.010002
1    04/08/2022 08:31  113.860001  113.870003  113.040001  113.489998
2    04/08/2022 08:32  113.360001  113.510002  113.360001  113.470001
3    04/08/2022 08:33  113.760002  113.779999  113.660004  113.739998
4    04/08/2022 08:34  113.750000  113.989998  113.489998  113.849998
..                ...         ...         ...         ...         ...
380  04/08/2022 14:55  110.980003  111.000000  110.959999  110.980003
381  04/08/2022 14:56  110.980003  110.980003  110.959999  110.980003
382  04/08/2022 14:57  110.970001  110.980003  110.809998  110.809998
383  04/08/2022 14:58  110.839996  110.839996  110.699997  110.699997
384  04/08/2022 14:59  110.690002  110.930000  110.500000  110.930000

      Adj Close   Volume
0    114.010002        0
1    113.489998     5360
2    113.470001     1743
3    113.739998     7222
4    113.849998    13347
..          ...      ...
380  110.980003    46286
381  110.980003    32273
382  110.809998    79993
383  110.699997   140630
384  110.930000  5581985

[385 rows x 7 columns]
2022-08-05 00:00:00
[*********************100%***********************]  1 of 1 completed
                 Date        Open        High         Low       Close  \
0    05/08/2022 08:30  110.529999  111.349998  110.510002  111.330002
1    05/08/2022 08:31  111.330002  111.500000  111.300003  111.300003
2    05/08/2022 08:32  111.410004  111.410004  111.029999  111.389999
3    05/08/2022 08:33  111.389999  111.410004  111.129997  111.410004
4    05/08/2022 08:34  111.410004  111.690002  111.150002  111.690002
..                ...         ...         ...         ...         ...
374  05/08/2022 14:55  110.190002  110.309998  110.190002  110.190002
375  05/08/2022 14:56  110.190002  110.440002  110.190002  110.250000
376  05/08/2022 14:57  110.309998  110.440002  110.220001  110.430000
377  05/08/2022 14:58  110.260002  110.449997  110.260002  110.300003
378  05/08/2022 14:59  110.300003  110.389999  110.180000  110.199997

      Adj Close   Volume
0    111.330002        0
1    111.300003    20021
2    111.389999     6703
3    111.410004     3517
4    111.690002    14084
..          ...      ...
374  110.190002   404298
375  110.250000    44471
376  110.430000    20105
377  110.300003    37470
378  110.199997  8103843

[379 rows x 7 columns]
2022-08-06 00:00:00
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- GFNORTEO.MX: No data found for this date range, symbol may be delisted
2022-08-07 00:00:00
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- GFNORTEO.MX: No data found for this date range, symbol may be delisted
2022-08-08 00:00:00
[*********************100%***********************]  1 of 1 completed
                 Date        Open        High         Low       Close  \
0    08/08/2022 08:30  110.199997  111.489998  110.199997  111.489998
1    08/08/2022 08:31  111.580002  111.589996  111.500000  111.500000
2    08/08/2022 08:32  111.500000  111.519997  111.110001  111.110001
3    08/08/2022 08:33  111.110001  111.580002  111.110001  111.540001
4    08/08/2022 08:34  111.529999  111.690002  111.500000  111.690002
..                ...         ...         ...         ...         ...
382  08/08/2022 14:55  115.199997  115.209999  115.180000  115.190002
383  08/08/2022 14:56  115.199997  115.199997  115.010002  115.010002
384  08/08/2022 14:57  115.010002  115.019997  114.989998  115.019997
385  08/08/2022 14:58  115.010002  115.260002  115.010002  115.190002
386  08/08/2022 14:59  115.180000  115.330002  115.160004  115.160004

      Adj Close  Volume
0    111.489998       0
1    111.500000    8975
2    111.110001    6808
3    111.540001   12973
4    111.690002    8797
..          ...     ...
382  115.190002   50799
383  115.010002   59506
384  115.019997   37096
385  115.190002  109869
386  115.160004   95557

[387 rows x 7 columns]
2022-08-09 00:00:00
[*********************100%***********************]  1 of 1 completed
                 Date        Open        High         Low       Close  \
0    09/08/2022 08:30  114.510002  115.690002  114.510002  115.680000
1    09/08/2022 08:31  115.250000  115.589996  115.150002  115.550003
2    09/08/2022 08:32  115.180000  115.320000  115.129997  115.129997
3    09/08/2022 08:33  115.129997  115.209999  115.129997  115.209999
4    09/08/2022 08:34  115.209999  115.209999  115.040001  115.040001
..                ...         ...         ...         ...         ...
384  09/08/2022 14:55  115.949997  116.000000  115.930000  115.949997
385  09/08/2022 14:56  115.949997  115.959999  115.830002  115.830002
386  09/08/2022 14:57  115.839996  115.980003  115.830002  115.930000
387  09/08/2022 14:58  115.970001  115.970001  115.930000  115.940002
388  09/08/2022 14:59  115.930000  116.040001  115.800003  116.040001

      Adj Close   Volume
0    115.680000        0
1    115.550003     4426
2    115.129997     2334
3    115.209999     1485
4    115.040001      383
..          ...      ...
384  115.949997    29602
385  115.830002    38363
386  115.930000    54915
387  115.940002    28307
388  116.040001  6090993

[389 rows x 7 columns]
2022-08-10 00:00:00
[*********************100%***********************]  1 of 1 completed
                 Date        Open        High         Low       Close  \
0    10/08/2022 08:30  116.389999  119.000000  116.389999  118.440002
1    10/08/2022 08:31  118.570000  118.769997  118.400002  118.400002
2    10/08/2022 08:32  118.160004  118.269997  116.970001  118.269997
3    10/08/2022 08:33  118.029999  118.029999  117.660004  117.970001
4    10/08/2022 08:34  117.980003  121.489998  117.980003  118.260002
..                ...         ...         ...         ...         ...
385  10/08/2022 14:55  120.629997  120.820000  120.620003  120.820000
386  10/08/2022 14:56  120.820000  120.820000  120.739998  120.769997
387  10/08/2022 14:57  120.769997  120.790001  120.760002  120.779999
388  10/08/2022 14:58  120.779999  120.800003  120.760002  120.800003
389  10/08/2022 14:59  120.790001  120.800003  120.669998  120.680000

      Adj Close  Volume
0    118.440002       0
1    118.400002   12716
2    118.269997   13985
3    117.970001   23358
4    118.260002   47016
..          ...     ...
385  120.820000   60283
386  120.769997   73733
387  120.779999   60954
388  120.800003   47584
389  120.680000   70614

[390 rows x 7 columns]
2022-08-11 00:00:00
[*********************100%***********************]  1 of 1 completed
                 Date        Open        High         Low       Close  \
0    11/08/2022 08:30  120.930000  120.930000  120.010002  120.010002
1    11/08/2022 08:31  120.559998  120.559998  120.010002  120.010002
2    11/08/2022 08:32  120.019997  120.470001  119.510002  119.510002
3    11/08/2022 08:33  119.519997  119.550003  119.209999  119.209999
4    11/08/2022 08:34  119.209999  119.379997  118.330002  118.330002
..                ...         ...         ...         ...         ...
385  11/08/2022 14:55  120.820000  121.599998  120.820000  121.370003
386  11/08/2022 14:56  121.360001  121.419998  121.360001  121.419998
387  11/08/2022 14:57  121.410004  121.680000  121.410004  121.570000
388  11/08/2022 14:58  121.580002  121.650002  120.959999  121.449997
389  11/08/2022 14:59  121.540001  121.699997  120.930000  121.360001

      Adj Close   Volume
0    120.010002        0
1    120.010002     1424
2    119.510002    43947
3    119.209999    35574
4    118.330002    23285
..          ...      ...
385  121.370003    57408
386  121.419998    39201
387  121.570000   124967
388  121.449997    69046
389  121.360001  5453911

[390 rows x 7 columns]
2022-08-12 00:00:00

[*********************100%***********************]  1 of 1 completed
                 Date        Open        High         Low       Close  \
0    12/08/2022 08:30  121.699997  121.830002  121.660004  121.660004
1    12/08/2022 08:31  121.660004  121.660004  121.610001  121.610001
2    12/08/2022 08:32  121.389999  121.389999  121.370003  121.370003
3    12/08/2022 08:33  121.410004  121.410004  121.410004  121.410004
4    12/08/2022 08:34  121.660004  121.660004  121.519997  121.519997
..                ...         ...         ...         ...         ...
380  12/08/2022 14:55  123.489998  123.500000  123.449997  123.500000
381  12/08/2022 14:56  123.500000  123.580002  123.489998  123.500000
382  12/08/2022 14:57  123.480003  123.559998  123.480003  123.510002
383  12/08/2022 14:58  123.510002  123.989998  123.480003  123.919998
384  12/08/2022 14:59  123.919998  124.120003  123.199997  123.489998

      Adj Close   Volume
0    121.660004        0
1    121.610001     1398
2    121.370003      200
3    121.410004      200
4    121.519997     2248
..          ...      ...
380  123.500000    48859
381  123.500000    65585
382  123.510002    83545
383  123.919998   189472
384  123.489998  4591861

[385 rows x 7 columns]
2022-08-13 00:00:00
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- GFNORTEO.MX: No data found for this date range, symbol may be delisted
2022-08-14 00:00:00
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- GFNORTEO.MX: No data found for this date range, symbol may be delisted
2022-08-15 00:00:00
[*********************100%***********************]  1 of 1 completed
                 Date        Open        High         Low       Close  \
0    15/08/2022 08:30  123.000000  123.000000  122.449997  122.449997
1    15/08/2022 08:31  122.260002  122.260002  121.720001  122.000000
2    15/08/2022 08:32  122.000000  122.000000  121.730003  121.730003
3    15/08/2022 08:33  121.730003  122.029999  121.730003  121.959999
4    15/08/2022 08:34  121.750000  121.750000  121.739998  121.750000
..                ...         ...         ...         ...         ...
328  15/08/2022 14:55  124.300003  124.309998  124.300003  124.309998
329  15/08/2022 14:56  124.300003  124.419998  124.260002  124.389999
330  15/08/2022 14:57  124.410004  124.410004  124.330002  124.330002
331  15/08/2022 14:58  124.330002  124.349998  124.190002  124.190002
332  15/08/2022 14:59  124.230003  124.400002  124.199997  124.250000

      Adj Close   Volume
0    122.449997        0
1    122.000000    38136
2    121.730003     3026
3    121.959999     1700
4    121.750000     2900
..          ...      ...
328  124.309998    19060
329  124.389999    45037
330  124.330002    16733
331  124.190002   465237
332  124.250000  3699029

[333 rows x 7 columns]
2022-08-16 00:00:00
[*********************100%***********************]  1 of 1 completed
                 Date        Open        High         Low       Close  \
0    16/08/2022 08:30  124.430000  124.430000  124.309998  124.320000
1    16/08/2022 08:33  124.339996  124.389999  124.339996  124.389999
2    16/08/2022 08:36  124.400002  124.459999  124.400002  124.459999
3    16/08/2022 08:37  124.449997  124.489998  124.290001  124.290001
4    16/08/2022 08:38  124.489998  124.589996  124.290001  124.589996
..                ...         ...         ...         ...         ...
363  16/08/2022 14:55  123.680000  123.750000  123.680000  123.720001
364  16/08/2022 14:56  123.750000  123.750000  123.699997  123.750000
365  16/08/2022 14:57  123.750000  123.800003  123.720001  123.800003
366  16/08/2022 14:58  123.750000  123.930000  123.750000  123.870003
367  16/08/2022 14:59  123.860001  123.949997  123.370003  123.790001

      Adj Close  Volume
0    124.320000       0
1    124.389999     730
2    124.459999    3536
3    124.290001    2570
4    124.589996   12589
..          ...     ...
363  123.720001   48505
364  123.750000   49409
365  123.800003   56243
366  123.870003   64542
367  123.790001  760141

[368 rows x 7 columns]
2022-08-17 00:00:00
[*********************100%***********************]  1 of 1 completed
                 Date        Open        High         Low       Close  \
0    17/08/2022 08:32  123.760002  123.839996  123.720001  123.720001
1    17/08/2022 08:33  123.809998  123.889999  123.589996  123.699997
2    17/08/2022 08:34  123.570000  123.699997  123.529999  123.699997
3    17/08/2022 08:36  123.690002  123.690002  123.690002  123.690002
4    17/08/2022 08:37  123.519997  123.519997  123.519997  123.519997
..                ...         ...         ...         ...         ...
356  17/08/2022 14:55  126.000000  126.120003  126.000000  126.089996
357  17/08/2022 14:56  126.089996  126.099998  125.610001  125.660004
358  17/08/2022 14:57  125.660004  126.089996  125.660004  126.080002
359  17/08/2022 14:58  126.080002  126.279999  125.779999  125.779999
360  17/08/2022 14:59  125.769997  125.980003  125.620003  125.980003

      Adj Close   Volume
0    123.720001        0
1    123.699997    40351
2    123.699997     2480
3    123.690002      100
4    123.519997      409
..          ...      ...
356  126.089996    33907
357  125.660004    53718
358  126.080002    36419
359  125.779999    53267
360  125.980003  3248415

[361 rows x 7 columns]
2022-08-18 00:00:00
[*********************100%***********************]  1 of 1 completed
                 Date        Open        High         Low       Close  \
0    18/08/2022 08:31  125.639999  125.639999  125.139999  125.419998
1    18/08/2022 08:32  125.139999  125.250000  125.110001  125.120003
2    18/08/2022 08:33  125.120003  126.290001  125.110001  125.110001
3    18/08/2022 08:34  125.290001  125.290001  125.279999  125.279999
4    18/08/2022 08:35  125.180000  125.190002  124.410004  124.410004
..                ...         ...         ...         ...         ...
344  18/08/2022 14:55  125.010002  125.099998  125.010002  125.099998
345  18/08/2022 14:56  125.110001  125.440002  125.110001  125.330002
346  18/08/2022 14:57  125.339996  125.370003  125.110001  125.160004
347  18/08/2022 14:58  125.160004  125.269997  125.010002  125.169998
348  18/08/2022 14:59  125.169998  125.699997  125.169998  125.220001

      Adj Close   Volume
0    125.419998        0
1    125.120003     8677
2    125.110001    23947
3    125.279999      565
4    124.410004    91886
..          ...      ...
344  125.099998    67352
345  125.330002    29213
346  125.160004    16673
347  125.169998    40236
348  125.220001  5898322

[349 rows x 7 columns]
2022-08-19 00:00:00
[*********************100%***********************]  1 of 1 completed
                 Date        Open        High         Low       Close  \
0    19/08/2022 08:30  124.809998  125.000000  124.809998  124.820000
1    19/08/2022 08:31  125.000000  125.349998  124.980003  125.010002
2    19/08/2022 08:32  125.320000  125.320000  124.860001  124.860001
3    19/08/2022 08:33  125.040001  125.349998  124.809998  125.220001
4    19/08/2022 08:34  125.010002  125.019997  124.970001  124.970001
..                ...         ...         ...         ...         ...
376  19/08/2022 14:55  127.430000  127.449997  127.279999  127.410004
377  19/08/2022 14:56  127.410004  127.540001  127.389999  127.389999
378  19/08/2022 14:57  127.419998  127.889999  127.389999  127.720001
379  19/08/2022 14:58  127.720001  127.820000  127.339996  127.550003
380  19/08/2022 14:59  127.550003  127.820000  127.070000  127.650002

      Adj Close  Volume
0    124.820000       0
1    125.010002   14412
2    124.860001   26088
3    125.220001   15037
4    124.970001    4687
..          ...     ...
376  127.410004   52086
377  127.389999   34494
378  127.720001   56166
379  127.550003   62907
380  127.650002   28419

[381 rows x 7 columns]
2022-08-20 00:00:00

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- GFNORTEO.MX: No data found for this date range, symbol may be delisted
2022-08-21 00:00:00
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- GFNORTEO.MX: No data found for this date range, symbol may be delisted
2022-08-22 00:00:00
[*********************100%***********************]  1 of 1 completed
                 Date        Open        High         Low       Close  \
0    22/08/2022 08:30  126.709999  127.050003  126.709999  127.050003
1    22/08/2022 08:31  127.110001  127.190002  126.709999  126.709999
2    22/08/2022 08:32  126.709999  126.820000  126.709999  126.820000
3    22/08/2022 08:33  126.820000  126.820000  126.820000  126.820000
4    22/08/2022 08:34  126.709999  126.870003  126.709999  126.870003
..                ...         ...         ...         ...         ...
383  22/08/2022 14:55  126.519997  126.989998  126.519997  126.660004
384  22/08/2022 14:56  126.660004  126.980003  126.599998  126.860001
385  22/08/2022 14:57  126.839996  127.000000  126.839996  127.000000
386  22/08/2022 14:58  126.989998  127.250000  126.940002  127.010002
387  22/08/2022 14:59  127.019997  127.250000  126.330002  126.519997

      Adj Close   Volume
0    127.050003        0
1    126.709999     4161
2    126.820000     1857
3    126.820000      100
4    126.870003     2148
..          ...      ...
383  126.660004    49908
384  126.860001    21122
385  127.000000    47340
386  127.010002    76393
387  126.519997  9238027

[388 rows x 7 columns]
2022-08-23 00:00:00
[*********************100%***********************]  1 of 1 completed
                 Date        Open        High         Low       Close  \
0    23/08/2022 08:30  126.889999  126.889999  126.550003  126.750000
1    23/08/2022 08:31  126.820000  126.820000  126.500000  126.500000
2    23/08/2022 08:32  126.470001  126.470001  125.910004  125.949997
3    23/08/2022 08:34  126.230003  126.360001  126.190002  126.360001
4    23/08/2022 08:35  126.540001  126.589996  126.209999  126.510002
..                ...         ...         ...         ...         ...
375  23/08/2022 14:55  127.260002  127.290001  126.820000  127.260002
376  23/08/2022 14:56  127.260002  127.290001  126.949997  127.010002
377  23/08/2022 14:57  127.019997  127.089996  126.970001  127.000000
378  23/08/2022 14:58  127.000000  127.120003  127.000000  127.099998
379  23/08/2022 14:59  127.110001  127.589996  126.959999  126.989998

      Adj Close  Volume
0    126.750000       0
1    126.500000    1369
2    125.949997    2714
3    126.360001    1009
4    126.510002    3792
..          ...     ...
375  127.260002   45982
376  127.010002   48796
377  127.000000   37123
378  127.099998   32694
379  126.989998  978105

[380 rows x 7 columns]
2022-08-24 00:00:00
[*********************100%***********************]  1 of 1 completed
                 Date        Open        High         Low       Close  \
0    24/08/2022 08:30  126.120003  126.480003  126.120003  126.480003
1    24/08/2022 08:31  126.510002  126.529999  126.419998  126.529999
2    24/08/2022 08:32  126.529999  126.930000  126.529999  126.930000
3    24/08/2022 08:34  127.139999  127.139999  127.099998  127.099998
4    24/08/2022 08:36  127.180000  127.180000  127.110001  127.110001
..                ...         ...         ...         ...         ...
381  24/08/2022 14:55  126.389999  126.470001  126.360001  126.389999
382  24/08/2022 14:56  126.440002  126.570000  126.339996  126.570000
383  24/08/2022 14:57  126.570000  126.589996  126.489998  126.589996
384  24/08/2022 14:58  126.589996  126.599998  126.040001  126.330002
385  24/08/2022 14:59  126.239998  126.570000  126.040001  126.559998

      Adj Close  Volume
0    126.480003       0
1    126.529999    1820
2    126.930000    1251
3    127.099998     483
4    127.110001    1598
..          ...     ...
381  126.389999   27413
382  126.570000   39101
383  126.589996   42268
384  126.330002   35443
385  126.559998   35340

[386 rows x 7 columns]
2022-08-25 00:00:00
[*********************100%***********************]  1 of 1 completed
                 Date        Open        High         Low       Close  \
0    25/08/2022 08:30  126.000000  126.000000  125.800003  125.800003
1    25/08/2022 08:31  125.930000  125.930000  125.930000  125.930000
2    25/08/2022 08:34  125.550003  125.599998  125.529999  125.589996
3    25/08/2022 08:35  125.589996  125.639999  125.589996  125.639999
4    25/08/2022 08:36  125.820000  125.820000  125.800003  125.800003
..                ...         ...         ...         ...         ...
361  25/08/2022 14:55  125.839996  125.900002  125.839996  125.900002
362  25/08/2022 14:56  125.900002  125.900002  125.889999  125.900002
363  25/08/2022 14:57  125.900002  125.900002  125.889999  125.900002
364  25/08/2022 14:58  125.900002  125.910004  125.889999  125.900002
365  25/08/2022 14:59  125.889999  125.900002  125.570000  125.900002

      Adj Close  Volume
0    125.800003       0
1    125.930000     173
2    125.589996    2742
3    125.639999    1558
4    125.800003     368
..          ...     ...
361  125.900002   37659
362  125.900002   28314
363  125.900002   13358
364  125.900002   36748
365  125.900002   39883

[366 rows x 7 columns]
2022-08-26 00:00:00
[*********************100%***********************]  1 of 1 completed
                 Date        Open        High         Low       Close  \
0    26/08/2022 08:30  125.510002  125.510002  124.910004  124.910004
1    26/08/2022 08:31  124.980003  124.989998  124.959999  124.989998
2    26/08/2022 08:33  124.930000  124.930000  124.809998  124.809998
3    26/08/2022 08:34  124.809998  124.820000  124.709999  124.720001
4    26/08/2022 08:35  124.720001  124.930000  124.709999  124.930000
..                ...         ...         ...         ...         ...
342  26/08/2022 14:55  124.309998  124.779999  124.309998  124.669998
343  26/08/2022 14:56  124.669998  124.739998  124.480003  124.739998
344  26/08/2022 14:57  124.769997  125.709999  124.769997  125.010002
345  26/08/2022 14:58  125.000000  125.000000  124.820000  124.900002
346  26/08/2022 14:59  124.900002  125.070000  124.889999  124.919998

      Adj Close  Volume
0    124.910004       0
1    124.989998     814
2    124.809998    5746
3    124.720001   10456
4    124.930000    5358
..          ...     ...
342  124.669998   13807
343  124.739998   12505
344  125.010002    9669
345  124.900002   10414
346  124.919998   15933

[347 rows x 7 columns]
2022-08-27 00:00:00
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- GFNORTEO.MX: No data found for this date range, symbol may be delisted
2022-08-28 00:00:00
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- GFNORTEO.MX: No data found for this date range, symbol may be delisted
2022-08-29 00:00:00
[*********************100%***********************]  1 of 1 completed
                 Date        Open        High         Low       Close  \
0    29/08/2022 08:30  122.550003  122.599998  122.419998  122.419998
1    29/08/2022 08:31  122.410004  122.410004  122.410004  122.410004
2    29/08/2022 08:32  122.669998  122.669998  122.669998  122.669998
3    29/08/2022 08:33  122.410004  122.410004  122.370003  122.370003
4    29/08/2022 08:34  122.320000  122.349998  122.320000  122.349998
..                ...         ...         ...         ...         ...
365  29/08/2022 14:55  121.169998  121.180000  120.970001  121.000000
366  29/08/2022 14:56  121.050003  121.089996  120.980003  121.089996
367  29/08/2022 14:57  121.089996  121.199997  121.059998  121.190002
368  29/08/2022 14:58  121.190002  121.190002  121.110001  121.139999
369  29/08/2022 14:59  121.180000  121.180000  120.620003  121.110001

      Adj Close   Volume
0    122.419998        0
1    122.410004      279
2    122.669998      375
3    122.370003    11415
4    122.349998     1900
..          ...      ...
365  121.000000    40237
366  121.089996    33420
367  121.190002    31516
368  121.139999    48567
369  121.110001  3639098

[370 rows x 7 columns]
2022-08-30 00:00:00

[*********************100%***********************]  1 of 1 completed
                 Date        Open        High         Low       Close  \
0    30/08/2022 08:30  121.110001  121.690002  121.110001  121.690002
1    30/08/2022 08:31  121.790001  121.790001  121.680000  121.680000
2    30/08/2022 08:32  121.690002  121.690002  121.690002  121.690002
3    30/08/2022 08:33  121.690002  121.690002  121.690002  121.690002
4    30/08/2022 08:34  121.680000  121.680000  121.169998  121.169998
..                ...         ...         ...         ...         ...
375  30/08/2022 14:55  121.370003  121.400002  121.370003  121.389999
376  30/08/2022 14:56  121.440002  121.559998  121.440002  121.540001
377  30/08/2022 14:57  121.550003  121.550003  121.470001  121.480003
378  30/08/2022 14:58  121.480003  121.480003  121.470001  121.480003
379  30/08/2022 14:59  121.480003  121.699997  121.110001  121.410004

      Adj Close   Volume
0    121.690002        0
1    121.680000     3859
2    121.690002      218
3    121.690002      456
4    121.169998     1569
..          ...      ...
375  121.389999    11445
376  121.540001    21337
377  121.480003    22774
378  121.480003    19930
379  121.410004  3387063

[380 rows x 7 columns]
2022-08-31 00:00:00
[*********************100%***********************]  1 of 1 completed
                 Date        Open        High         Low       Close  \
0    31/08/2022 08:31  121.680000  122.260002  121.680000  122.250000
1    31/08/2022 08:32  122.239998  122.389999  121.430000  121.430000
2    31/08/2022 08:33  122.209999  122.209999  122.209999  122.209999
3    31/08/2022 08:34  121.489998  121.680000  121.489998  121.519997
4    31/08/2022 08:35  121.519997  121.550003  121.099998  121.250000
..                ...         ...         ...         ...         ...
384  31/08/2022 14:55  118.779999  118.779999  118.750000  118.760002
385  31/08/2022 14:56  118.760002  118.760002  118.709999  118.709999
386  31/08/2022 14:57  118.720001  118.720001  118.690002  118.699997
387  31/08/2022 14:58  118.690002  118.750000  118.669998  118.680000
388  31/08/2022 14:59  118.680000  119.199997  118.660004  118.980003

      Adj Close   Volume
0    122.250000        0
1    121.430000    15370
2    122.209999     2177
3    121.519997     2018
4    121.250000    15151
..          ...      ...
384  118.760002    70837
385  118.709999    98834
386  118.699997   137757
387  118.680000   135433
388  118.980003  6388199

[389 rows x 7 columns]
2022-09-01 00:00:00
[*********************100%***********************]  1 of 1 completed
                 Date        Open        High         Low       Close  \
0    01/09/2022 08:30  118.980003  118.980003  118.010002  118.459999
1    01/09/2022 08:31  118.449997  118.980003  118.010002  118.639999
2    01/09/2022 08:32  118.639999  118.650002  118.019997  118.300003
3    01/09/2022 08:33  118.199997  118.639999  118.010002  118.010002
4    01/09/2022 08:34  118.010002  118.349998  117.500000  117.510002
..                ...         ...         ...         ...         ...
383  01/09/2022 14:55  119.760002  120.010002  119.760002  120.000000
384  01/09/2022 14:56  120.000000  120.110001  120.000000  120.099998
385  01/09/2022 14:57  120.110001  120.139999  120.099998  120.129997
386  01/09/2022 14:58  120.129997  120.169998  120.129997  120.150002
387  01/09/2022 14:59  120.150002  120.650002  119.650002  119.970001

      Adj Close   Volume
0    118.459999        0
1    118.639999   272846
2    118.300003    23967
3    118.010002    15306
4    117.510002    21720
..          ...      ...
383  120.000000    42630
384  120.099998    41246
385  120.129997    45182
386  120.150002    48477
387  119.970001  4553001

[388 rows x 7 columns]

In [22]:
data_for_model

,Date,Open,High,Low,Close,Adj Close,Volume
0,04/08/2022 08:30,112.690002,114.339996,112.419998,114.010002,114.010002,0
1,04/08/2022 08:31,113.860001,113.870003,113.040001,113.489998,113.489998,5360
2,04/08/2022 08:32,113.360001,113.510002,113.360001,113.470001,113.470001,1743
3,04/08/2022 08:33,113.760002,113.779999,113.660004,113.739998,113.739998,7222
4,04/08/2022 08:34,113.750000,113.989998,113.489998,113.849998,113.849998,13347
...,...,...,...,...,...,...,...
383,01/09/2022 14:55,119.760002,120.010002,119.760002,120.000000,120.000000,42630
384,01/09/2022 14:56,120.000000,120.110001,120.000000,120.099998,120.099998,41246
385,01/09/2022 14:57,120.110001,120.139999,120.099998,120.129997,120.129997,45182
386,01/09/2022 14:58,120.129997,120.169998,120.129997,120.150002,120.150002,48477
387,01/09/2022 14:59,120.150002,120.650002,119.650002,119.970001,119.970001,4553001

In [23]:
data_for_model.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7891 entries, 0 to 387
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       7891 non-null   object
 1   Open       7891 non-null   float64
 2   High       7891 non-null   float64
 3   Low        7891 non-null   float64
 4   Close      7891 non-null   float64
 5   Adj Close  7891 non-null   float64
 6   Volume     7891 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 493.2+ KB

In [24]:
data_for_model.describe()

,Open,High,Low,Close,Adj Close,Volume
count,7891.000000,7891.000000,7891.000000,7891.000000,7891.000000,7.891000e+03
mean,121.237222,121.301384,121.175867,121.239823,121.239823,2.368496e+04
std,4.691566,4.690357,4.694766,4.692622,4.692622,2.335424e+05
min,109.099998,109.209999,109.010002,109.080002,109.080002,0.000000e+00
25%,119.655003,119.750000,119.564999,119.655003,119.655003,3.418500e+03
50%,121.900002,122.000000,121.849998,121.919998,121.919998,7.400000e+03
75%,125.019997,125.059998,125.000000,125.019997,125.019997,1.394650e+04
max,128.179993,128.199997,128.100006,128.149994,128.149994,9.238027e+06